<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vyplň</h1>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" name="name" placeholder="Name" autocomplete="off" autofocus><br>
        <label for="input_class">Class:</label><br>
        <input type="text" name="input_class" autocomplete="off"><br>
        <label for="Message">Message:</label><br>
        <textarea name="message" id="message" autocomplete="off"></textarea><br><br>
        <button>Submit form</button>
    </form>

    <br>
    <br>
    <br>

    <h2>Answers:</h2>
    <!-- Jinja -->
    Person named {{ name }} from {{ input_class }} sends you this following message: {{ message }}
</body>
</html>